* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

html { height: 100%; }
body { min-height: 100%; }

main {
  background-color: hsl(0deg, 0%, 60%); 
  border-top: 5px solid hsl(0deg, 0%, 40%);
  padding: 64px 0;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.intro-chunk {
  min-width: 300px;
  padding: 24px;
  padding-top: 64px;
  width: 50%;
}

.intro-chunk p {
  margin: 24px 0;
}

.max-width-wrapper {
  margin: auto;
  max-width: 600px;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 5px solid hsl(0deg, 0%, 40%);
  padding: 24px;
  padding-top: 8px;
}

.card > .indented-heading {
  display: block;
  margin: 0;
  margin-left: -32px;
  padding: 16px 32px;
  width: max-content;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 5px solid hsl(45deg, 100%, 40%);
}
